<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matador de monstros</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    
    
</head>
<body>
    <div id="monstros">
        <div class="container">
            <div class="jumbotron jumbotron-fluid"> <!-- mostragem hp -->
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <div class="col-12">
                            <h1>Jogador</h1>
                            <hr>
                            <div class="hp-borda">
                                <div class="hp-restante d-flex align-items-center justify-content-center" :style="[{'background-color': jogador_cor}, {'width': hp_jogador_p}]">
                                    {{hp_jogador}}%
                                </div>
                            </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 text-center">
                        <div class="col-12">
                                <h1>Monstro</h1>
                                <hr>
                                <div class="hp-borda">
                                    <div class="hp-restante d-flex align-items-center justify-content-center" :style="[{'background-color': monstro_cor}, {'width': hp_monstro_p}]">
                                        {{hp_monstro}}%
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
            <hr>
            <!-- ataques -->
            <div class="row">
                <div class="col-12 d-inline-flex text-center">
                    <div class="col-sm-12" v-if="!em_jogo">
                        <button class="btn btn-dark" @click="iniciarJogo">Iniciar jogo</button>
                    </div>
                    <template v-else>
                        <div class="col-sm-3">
                            <button class="btn btn-danger" @click="ataqueNormal">Ataque</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-warning" @click="ataqueEspecial">Ataque especial</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-success" @click="curar">Curar</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-secondary" @click="pararJogo">Desistir</button>
                        </div>
                    </template>
                </div>
            </div>
        <template v-if="em_jogo">
            <hr>
        <!-- log -->
        <div class="row">
            <div class="col-12 text-center d-flex align-items-center justify-content-center">
                <h2 style="padding-top: 5px">LOG</h2>
            </div>
        </div>
        <hr>
        </template>
        <div class="text-center" v-for="item in log_list">
            <p :class="[{'fundo_jogador': item.from}, {'fundo_monstro': !item.from}]">
                    Turno: {{item.turno}} - {{item.from ? 'JOGADOR' : 'MONSTRO'}} -- {{item.msg}}
            </p>
            <hr>
        </div>

        
        <!-- fim container -->
    </div>
    </div>
    </div>
    

<!-- imports -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="app.js"></script>


</body>
</html>