.hp-borda {
    border: 1px solid black;
    height: 40px;
    width: 100%;
}

.hp-restante {
    height: 100%;
    width: 50%;
}

.fundo_jogador {
    background-color: rgb(59, 144, 201);
    border: 2px solid  rgb(8, 18, 24);
    border-radius: 25px;
    color: white;
}

.fundo_monstro {
    background-color: rgb(136, 20, 59);
    border: 2px solid  rgb(8, 18, 24);
    border-radius: 25px;
    color: white;
}